# Зависимости
node_modules/

# Сборка
dist/
*.tsbuildinfo

# Окружение
.env
.env.local
.env.*.local

# Логи
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Редакторы
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# Кэши
.eslintcache
.cache/
